---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		<h1>SGN Microsite</h1>
		<p>Welcome to the SGN Microsite!</p>
		<p>This is a simple example of an Astro project.</p>
	</div>
</Layout>