# build output
app/dist/

# generated types
app/.astro/

# dependencies
app/node_modules/
node_modules/

# logs
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*

# environment variables
app/.env
app/.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# vscode settings folder
.vscode/

# code coverage
app/coverage/

# Terraform
infra/**/.terraform/
infra/**/*.tfstate
infra/**/*.tfstate.backup
infra/**/.terraform.lock.hcl
infra/**/.terragrunt-cache/
/Assets