---
interface Props {
	tag: string;
	title: string;
}

const { tag, title } = Astro.props;
---

<div class="intro-section primary-bg">
	<div class="tag primary-light-bg">
		{tag}
	</div>
	<div class="intro-title">
		<h2>{title}</h2>
	</div>
</div>

<style>
	.intro-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 3.25rem 2.375rem;
		border-radius: 0.5rem;
		width: 100%;
		gap: 2rem;
	}

	@media (max-width: 48rem) {
		.intro-section {
			padding: 2rem 1rem;
		}
	}

	.intro-section .intro-title h2 {
		text-transform: none;
		line-height: 1;
	}

	@media (max-width: 48rem) {
		.intro-section .intro-title h2 {
			font-size: 2rem;
		}
	}
</style>
