---

---

<div class="resource-section">
	<div class="content-wrapper">
		<div class="image-col"></div>
		<div class="content-col">
			<div class="content-col-text">
				<h2>Celebrating National Day at home?</h2>
				<h4>From digital backdrops to printable table-top games and colouring pages, we have you covered.</h4>
			</div>
			<a class="button btn-secondary" href="#">Find out more</a>
		</div>
	</div>
</div>

<style>
	.resource-section {
		display: flex;
		justify-content: center;
		background-color: var(--brand);
		padding: 52px 38px;
		border-radius: 0.5rem;
		width: 100%;
	}

	.resource-section .content-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 2rem;
		width: min(1440px, 100%);
	}

	.resource-section h2,
	.resource-section h4 {
		color: var(--white);
	}

	.resource-section h2 {
		text-transform: none;
	}

	.resource-section h4 {
		line-height: 1.1;
	}

	.resource-section .image-col {
		height: 200px;
		width: 200px;
		border: 5px dashed var(--black);
		background-color: var(--light-grey);
	}

	.resource-section .content-col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;
	}

	.resource-section .content-col .content-col-text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
	}

	.resource-section .content-col .button {
		padding: 1rem 1.5rem;
		min-width: 194px;
	}
</style>
