---
// Competition page for votes on 8 designs (quarters)
// SSG page with weekly update on winner
// Voting form to submit votes to backend to count winner
// Animation on designs
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Competition">
	<h2>Competition page</h2>
</BaseLayout>
