---
// Social Gallery pulling media from SGN socials
// SSR page with dynamic data fetch of SGN media
// API get request to proxy backend to pull social media
// Animated display of media with links to media pages
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Social Gallery">
	<h2>Social Gallery page</h2>
</BaseLayout>
