---
// Interactive storytelling of SGN journey over the last 5 years
// SSG page
// Scroll animation using GSAP
// Animated text
// Individual SVG animation 
// Link backs to SGN website stories
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Year In Review">	
	<h2>Index page</h2>
</BaseLayout>
