---
// Page listing makan parties with SGN Partners
// SSG page with animated listing of partner restaurants
// Form submit to proxy API to get discount code for restaurant
// To determine how to display/send out discount code
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Makan Party">
	<h2>Makan Party page</h2>
</BaseLayout>
