---
// SSG Page for QUIZ
// Store data on constants JS file render on client side or on-page
// Animation between quiz quetions
// Micro animation of visual animations
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Quiz">
	<h2>Quiz page</h2>
</BaseLayout>
