---
// Pages to send out well wishes to be up on a message board
// SSG page with no data on client side
// Form submit to proxy API to submit well wishes
// Display well wishes on page on client side
// Add animation on sending out well wishes
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Well Wishes">
	<h2>Well Wishes page</h2>
</BaseLayout>
