---
import BrandIntroClouds from "./brand-intro/BrandIntroClouds.astro";
import BrandIntro1 from "./brand-intro/BrandIntro1.astro";
import BrandIntro2 from "./brand-intro/BrandIntro2.astro";
---

<section class="brand-intro-container">
    <BrandIntroClouds />
    <BrandIntro1 />
    <BrandIntro2 />
</section>

<style>
    .brand-intro-container {
        position: relative;
        height: auto;
        background-color: #E6EBFF;
    }
</style>