<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/quiz">Quiz</a></li>
<li><a href="/makan">Makan Party</a></li>
<li><a href="/gallery">Social Gallery</a></li>
<li><a href="/wishes">Well Wishes</a></li>
</ul> 

