---
import { Image } from "astro:assets";
import flower from "../images/well-wishes/flower.svg";
---

<section id="well-wishes-container">
    <Image src={flower} alt="flower" class="flower" />
    <div class="text-container">
        <h3>To Friendships That Know No Boundaries</h3>
        <p>
            Share a photo of a cherished memory with a friend, tell us what you miss about them and how you keep the
            connection alive.
        </p>
        <p>
            The cozy moments that give us the warm fuzzies enter a giveaway draw to win an immortalised illustration by
            friends of our network.
            <a href="https://go.gov.sg/sgnfriendshipstories">Enter to win</a>.
        </p>
    </div>
    <div class="right-section">
        <div class="overlay-blur">
            <a class="primary-btn" href="https://padlet.com/embed/d4hffec9ckuxoag1" target="_blank"> Share memory </a>
        </div>
        <div class="padlet-container">
            <iframe
                class="padlet-iframe"
                src="https://padlet.com/embed/d4hffec9ckuxoag1"
                allow="camera;microphone;geolocation"
                style="width:102%;display:block;padding:0;margin:0"
            >
            </iframe>
        </div>
    </div>
</section>

<style>
    #well-wishes-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: #eee7e0;
        height: 100vh;
        width: 100vw;
        padding: 40px 60px 60px;
        overflow: hidden;
    }

    .flower {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.6);
        transform-origin: top left;
    }

    .text-container {
        width: 30%;
        z-index: 1;
    }

    h3 {
        font-size: 42px;
        font-weight: bold;
        line-height: 1.2;
    }

    p {
        margin: 10px 0;
        font-size: 18px;
        line-height: 1.5;
    }

    .right-section {
        position: relative;
        flex: 1;
        background-color: #d9d9d9;
        height: 100%;
        overflow: hidden;
    }
    .padlet-container {
        height: 100%;
        width: 100%;
        /*Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .padlet-container::-webkit-scrollbar {
        display: none;
    }

    .padlet-iframe {
        width: 102%;
        height: calc(100% + 8%);
        border: none;
        position: relative;
        top: -50px;
    }

    .overlay-blur {
        display: none;
    }

    @media only screen and (max-height: 575.98px) and (orientation: landscape) {
        #well-wishes-container {
            gap: 20px;
            padding: 20px;
        }

        .text-container {
            width: 35%;
            z-index: 1;
        }

        .right-section {
            border-top-left-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
        }

        .overlay-blur {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        h3 {
            font-size: 36px;
            font-weight: bold;
            line-height: 1.2;
        }

        p {
            margin: 0.5rem 0;
            font-size: 1rem;
            line-height: 1.2;
        }
    }
</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const container = document.querySelector("#well-wishes-container");

    gsap.timeline({
        scrollTrigger: {
            trigger: container,
            start: "top top",
            end: "bottom top",
            scrub: true,
            snap: {
                snapTo: 1,
                duration: 0.2,
                ease: "expoScale(0.5,7,none)",
            },
        },
    });
</script>
