---
import BaseHead from '../layouts/BaseHead.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
import NavMenu from '../layouts/NavMenu.astro';
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title="SGN Microsite" description="Welcome to the SGN Microsite"/>
</head>
<body>
	<Header />
	<NavMenu />
	<main>
		<slot />
	</main>
	<Footer />
</body>
</html>