---
import BaseHead from "../layouts/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavMenu from "../components/NavMenu.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="SGN Microsite" description="Welcome to the SGN Microsite" />
	</head>
	<body>
		<Header />
		<NavMenu />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
