---
import AccordianCard from '../components/AccordianCard.astro'
---

<section class="section primary-bg">
    <hr class="faq-hr"> 
    <div class="accordians">
        <AccordianCard />
        <AccordianCard />
        <AccordianCard />
        <AccordianCard />
        <AccordianCard />
        <AccordianCard />
        <AccordianCard />
        <AccordianCard />
        <AccordianCard />
        <AccordianCard />
        <AccordianCard />
    </div>
</section>

<style>
    .accordians {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 4rem;
    }
</style>