---
import { Image } from "astro:assets";
import SG60 from "../assets/images/sg60_logo.png";
---

<header class="main-header">
  <!-- TO OPTIMISE AND MOVE SVG LOGO TO OWN FILE -->
  <svg
    width="79"
    height="52"
    viewBox="0 0 79 52"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_573_8059)">
      <path
        d="M35.4991 29.4232C34.5564 29.4232 33.9396 29.1856 33.3501 28.5996L33.8065 28.1432C34.3254 28.659 34.809 28.8264 35.5154 28.8264C36.431 28.8264 36.9934 28.397 36.9934 27.6706C36.9934 27.3465 36.8956 27.0656 36.6945 26.8928C36.4908 26.7173 36.3332 26.6659 35.8768 26.5957L35.1459 26.4823C34.6515 26.404 34.2657 26.2446 33.9913 26.0097C33.6734 25.7288 33.5158 25.3453 33.5158 24.8457C33.5158 23.7871 34.282 23.0876 35.5236 23.0876C36.325 23.0876 36.8521 23.2875 37.39 23.7709L36.958 24.2003C36.5695 23.8492 36.1566 23.6656 35.4964 23.6656C34.6596 23.6656 34.176 24.1301 34.176 24.8214C34.176 25.1266 34.263 25.3724 34.4586 25.5398C34.6515 25.7072 34.9775 25.8288 35.3035 25.8801L35.9909 25.9854C36.5804 26.0718 36.8711 26.196 37.1346 26.4229C37.477 26.7118 37.6644 27.1412 37.6644 27.6571C37.6644 28.7508 36.8005 29.4259 35.4991 29.4259"
        fill="white"></path>
      <path d="M39.5621 23.1398H38.8938V29.37H39.5621V23.1398Z" fill="white"
      ></path>
      <path
        d="M45.1 29.3727L41.7719 24.3766V29.3727H41.1035V23.1398H41.7365L45.0647 28.1197V23.1398H45.7357V29.3727H45.1Z"
        fill="white"></path>
      <path
        d="M50.9871 28.7076C50.547 29.1802 49.9575 29.426 49.3136 29.426C48.6697 29.426 48.1345 29.1991 47.7106 28.7779C47.1211 28.1918 47.1211 27.5788 47.1211 26.2582C47.1211 24.9376 47.1211 24.3246 47.7106 23.7385C48.1345 23.3172 48.6887 23.0904 49.3136 23.0904C50.5117 23.0904 51.3213 23.8601 51.5061 24.9538H50.8377C50.6611 24.1652 50.0987 23.6845 49.3136 23.6845C48.9006 23.6845 48.504 23.852 48.2296 24.1301C47.8329 24.5325 47.7894 24.9538 47.7894 26.2582C47.7894 27.5626 47.8329 27.992 48.2296 28.3944C48.504 28.6752 48.8979 28.8319 49.3136 28.8319C49.7727 28.8319 50.2128 28.6482 50.5035 28.2971C50.7589 27.992 50.8567 27.649 50.8567 27.1683V26.6957H49.3163V26.1097H51.5251V27.0981C51.5251 27.8164 51.3756 28.2971 50.9871 28.7076Z"
        fill="white"></path>
      <path
        d="M54.7552 24.0931L53.5761 27.3824H55.9181L54.7552 24.0931ZM56.6136 29.37L56.1109 27.9603H53.3724L52.8698 29.37H52.158L54.4645 23.1398H55.0269L57.3254 29.37H56.6136Z"
        fill="white"></path>
      <path
        d="M60.6617 23.7339H59.0587V26.2103H60.6617C61.4468 26.2103 61.9902 25.7918 61.9902 24.9681C61.9902 24.1444 61.4441 23.7339 60.6617 23.7339ZM60.7214 26.8045H59.0587V29.37H58.3904V23.1398H60.7241C61.8679 23.1398 62.6612 23.8473 62.6612 24.9681C62.6612 26.0888 61.8679 26.8072 60.7241 26.8072"
        fill="white"></path>
      <path
        d="M66.9984 24.1301C66.724 23.8493 66.33 23.6845 65.9144 23.6845C65.4987 23.6845 65.1048 23.852 64.8304 24.1301C64.4337 24.5325 64.3902 24.9538 64.3902 26.2582C64.3902 27.5626 64.4337 27.9812 64.8304 28.3863C65.1048 28.6671 65.4987 28.8319 65.9144 28.8319C66.33 28.8319 66.724 28.6644 66.9984 28.3863C67.395 27.9839 67.4385 27.5626 67.4385 26.2582C67.4385 24.9538 67.395 24.5352 66.9984 24.1301ZM67.52 28.7779C67.0962 29.1991 66.542 29.426 65.9171 29.426C65.2922 29.426 64.738 29.1991 64.3142 28.7779C63.7246 28.1918 63.7246 27.5788 63.7246 26.2582C63.7246 24.9376 63.7246 24.3246 64.3142 23.7385C64.738 23.3172 65.2922 23.0904 65.9171 23.0904C66.542 23.0904 67.0962 23.3172 67.52 23.7385C68.1096 24.3246 68.1096 24.9376 68.1096 26.2582C68.1096 27.5788 68.1096 28.1918 67.52 28.7779Z"
        fill="white"></path>
      <path
        d="M71.8333 23.7339H70.1598V26.0186H71.8333C72.5642 26.0186 73.0831 25.6432 73.0831 24.8817C73.0831 24.1201 72.5642 23.7339 71.8333 23.7339ZM73.0939 29.37L71.6676 26.6046H70.1625V29.37H69.4941V23.1398H71.8985C72.9907 23.1398 73.7569 23.796 73.7569 24.8736C73.7569 25.7837 73.2026 26.3778 72.393 26.5452L73.8818 29.3727H73.0994L73.0939 29.37Z"
        fill="white"></path>
      <path
        d="M75.1096 29.3727V23.1398H79.0028V23.7366H75.7807V25.9322H78.5274V26.529H75.7807V28.7786H79.0028V29.3727H75.1096Z"
        fill="white"></path>
      <path
        d="M37.5138 36.9424C37.0736 37.415 36.4841 37.6608 35.8402 37.6608C35.1963 37.6608 34.6611 37.4339 34.2373 37.0127C33.6477 36.4266 33.6477 35.8136 33.6477 34.493C33.6477 33.1724 33.6477 32.5594 34.2373 31.9733C34.6611 31.552 35.2153 31.3252 35.8402 31.3252C37.0383 31.3252 37.8479 32.0949 38.0327 33.1886H37.3643C37.1877 32.4 36.6254 31.9193 35.8402 31.9193C35.4272 31.9193 35.0306 32.0868 34.7562 32.3649C34.3595 32.7673 34.316 33.1886 34.316 34.493C34.316 35.7974 34.3595 36.2268 34.7562 36.6292C35.0279 36.91 35.4245 37.0667 35.8402 37.0667C36.2993 37.0667 36.7395 36.883 37.0302 36.5319C37.2855 36.2268 37.3833 35.8838 37.3833 35.4031V34.9305H35.8429V34.3445H38.0544V35.3329C38.0544 36.0512 37.905 36.5319 37.5165 36.9424"
        fill="white"></path>
      <path
        d="M39.4009 37.6075V31.3746H40.0692V37.0134H43.2751V37.6075H39.4009Z"
        fill="white"></path>
      <path
        d="M47.2926 32.3649C47.0209 32.0841 46.6242 31.9193 46.2086 31.9193C45.7929 31.9193 45.399 32.0868 45.1246 32.3649C44.7279 32.7673 44.6844 33.1886 44.6844 34.493C44.6844 35.7974 44.7279 36.2187 45.1246 36.6211C45.399 36.9019 45.7929 37.0667 46.2086 37.0667C46.6242 37.0667 47.0182 36.8992 47.2926 36.6211C47.6892 36.2187 47.7327 35.7974 47.7327 34.493C47.7327 33.1886 47.6892 32.77 47.2926 32.3649ZM47.8142 37.0127C47.3931 37.4339 46.8362 37.6608 46.2113 37.6608C45.5864 37.6608 45.0322 37.4339 44.6084 37.0127C44.0188 36.4266 44.0188 35.8136 44.0188 34.493C44.0188 33.1724 44.0188 32.5594 44.6084 31.9733C45.0322 31.552 45.5864 31.3252 46.2113 31.3252C46.8362 31.3252 47.3904 31.552 47.8142 31.9733C48.4038 32.5594 48.4038 33.1724 48.4038 34.493C48.4038 35.8136 48.4038 36.4266 47.8142 37.0127Z"
        fill="white"></path>
      <path
        d="M52.1656 34.7287H50.4567V37.0134H52.1656C52.9399 37.0134 53.4235 36.5678 53.4235 35.8657C53.4235 35.1635 52.9399 34.7287 52.1656 34.7287ZM52.0949 31.9714H50.4567V34.1346H52.0949C52.7904 34.1346 53.3284 33.7943 53.3284 33.0489C53.3284 32.3036 52.7904 31.9714 52.0949 31.9714ZM52.228 37.6075H49.7883V31.3746H52.1465C53.2387 31.3746 53.9967 31.9957 53.9967 33.0381C53.9967 33.6944 53.6 34.2102 53.073 34.4046C53.6707 34.6234 54.0945 35.1392 54.0945 35.8846C54.0945 37.0134 53.3365 37.6075 52.228 37.6075Z"
        fill="white"></path>
      <path
        d="M57.4113 32.3306L56.2322 35.6199H58.5741L57.4113 32.3306ZM59.2696 37.6075L58.767 36.1978H56.0284L55.5258 37.6075H54.814L57.1206 31.3746H57.6857L59.9841 37.6075H59.2723H59.2696Z"
        fill="white"></path>
      <path
        d="M61.041 37.6075V31.3746H61.7094V37.0134H64.9152V37.6075H61.041Z"
        fill="white"></path>
      <path
        d="M37.8839 45.8451L34.5558 40.8463V45.8451H33.8848V39.6121H34.5205L37.8486 44.592V39.6121H38.517V45.8451H37.8839Z"
        fill="white"></path>
      <path
        d="M40.0786 45.8451V39.6121H43.9691V40.209H40.747V42.4045H43.4937V43.0014H40.747V45.251H43.9691V45.8451H40.0786Z"
        fill="white"></path>
      <path
        d="M47.3892 40.209V45.8451H46.7209V40.209H44.906V39.6121H49.204V40.209H47.3892Z"
        fill="white"></path>
      <path
        d="M55.6213 45.8451H54.9964L53.6054 40.8571L52.2144 45.8451H51.5895L49.9866 39.6121H50.6984L51.9237 44.6379L53.3065 39.6121H53.9042L55.2871 44.6379L56.5097 39.6121H57.2242L55.6213 45.8451Z"
        fill="white"></path>
      <path
        d="M61.2369 40.6052C60.9625 40.3243 60.5686 40.1596 60.1529 40.1596C59.7373 40.1596 59.3433 40.327 59.0689 40.6052C58.6723 41.0076 58.6288 41.4288 58.6288 42.7332C58.6288 44.0376 58.6723 44.4589 59.0689 44.8613C59.3433 45.1422 59.7373 45.3069 60.1529 45.3069C60.5686 45.3069 60.9625 45.1395 61.2369 44.8613C61.6336 44.4589 61.6771 44.0376 61.6771 42.7332C61.6771 41.4288 61.6336 41.0103 61.2369 40.6052ZM61.7559 45.2529C61.332 45.6742 60.7778 45.901 60.1529 45.901C59.5281 45.901 58.9738 45.6742 58.55 45.2529C57.9604 44.6669 57.9604 44.0538 57.9604 42.7332C57.9604 41.4126 57.9604 40.7996 58.55 40.2136C58.9738 39.7923 59.5281 39.5654 60.1529 39.5654C60.7778 39.5654 61.332 39.7923 61.7559 40.2136C62.3454 40.7996 62.3454 41.4126 62.3454 42.7332C62.3454 44.0538 62.3454 44.6669 61.7559 45.2529Z"
        fill="white"></path>
      <path
        d="M66.0721 40.209H64.3986V42.4937H66.0721C66.803 42.4937 67.3219 42.1183 67.3219 41.3567C67.3219 40.5951 66.803 40.2117 66.0721 40.2117M67.33 45.8451L65.9037 43.0797H64.3986V45.8451H63.7302V39.6121H66.1346C67.2268 39.6121 67.9929 40.2684 67.9929 41.3459C67.9929 42.256 67.4387 42.8501 66.6291 43.0176L68.1179 45.8451H67.3355H67.33Z"
        fill="white"></path>
      <path
        d="M73.2468 45.8451L71.3342 42.5288L70.0138 44.1032V45.8451H69.3455V39.6121H70.0138V43.1931L72.9371 39.6121H73.7549L71.7852 42.0211L74.0374 45.8451H73.2468Z"
        fill="white"></path>
      <path
        d="M13.7662 52.0002C19.7052 52.0002 24.7666 48.2626 26.6956 43.0234C26.6956 43.0234 26.6956 43.0207 26.6956 43.018C26.739 42.9046 26.7744 42.7858 26.8151 42.6697C26.8532 42.5535 26.8939 42.4347 26.9319 42.3186C29.8607 33.1771 29.138 21.2053 29.0239 19.5985L29.1136 19.4904C29.1136 19.4904 29.0755 19.4958 29.0185 19.5039C29.013 19.4472 29.0103 19.4094 29.0103 19.4094L28.9207 19.5174C27.2933 19.7524 15.0431 21.6482 6.66439 26.5957C6.64808 26.6038 6.63178 26.6146 6.61548 26.6227C2.65163 29.0181 0 33.358 0 38.3163C0 45.8753 6.16449 52.0002 13.7662 52.0002Z"
        fill="white"></path>
      <path
        d="M38.0825 0C42.6954 0.00021228 46.4358 3.71864 46.436 8.30664C46.436 11.3151 44.8282 13.9489 42.4184 15.4072C42.4076 15.4126 42.399 15.4175 42.3882 15.4229C37.3053 18.423 29.87 19.5735 28.8803 19.7168L28.8257 19.7842C28.8249 19.781 28.8208 19.7598 28.8208 19.7275C28.7855 19.7329 28.7632 19.7363 28.7632 19.7363L28.8178 19.668C28.7498 18.6885 28.3129 11.423 30.0893 5.87695C30.1111 5.80404 30.1352 5.7333 30.1596 5.66309C30.1814 5.59287 30.2038 5.52236 30.2309 5.45215V5.4502C31.3653 2.36841 34.2838 0.143042 37.7426 0.00683594L38.0825 0ZM37.6772 2.37109C34.511 2.52482 31.9891 5.11545 31.9839 8.29688C31.9786 11.5779 34.6543 14.2454 37.9604 14.251C41.2695 14.2564 43.9569 11.6022 43.9624 8.31836C43.9678 5.03728 41.2918 2.36892 37.9829 2.36328L37.6772 2.37109ZM37.9829 3.27344C40.7837 3.27907 43.0488 5.5367 43.0434 8.31543C43.038 11.0943 40.7615 13.3443 37.9604 13.3389L37.7026 13.332C35.0231 13.1922 32.8967 10.9889 32.9018 8.29688C32.9073 5.51796 35.1818 3.26804 37.9829 3.27344ZM40.0337 5.93066C38.6943 5.92796 37.7268 6.92469 37.7241 8.30469C37.7214 9.67389 38.6864 10.6865 40.0122 10.6865C41.365 10.6891 42.3454 9.68178 42.3481 8.32617V8.13477C42.3481 8.05925 42.2969 7.99432 42.2075 7.99414L42.2124 7.98828H40.0473C39.9686 7.98828 39.9029 8.03995 39.9028 8.12891V8.67969C39.9028 8.75527 39.9657 8.80682 40.0444 8.80957H41.4487C41.2667 9.48742 40.7506 9.86816 40.0171 9.86816C39.1914 9.86801 38.6021 9.2148 38.602 8.30762C38.6047 7.39752 39.1997 6.74902 40.0229 6.74902C40.5119 6.75175 40.8461 6.90631 41.1938 7.25195C41.2561 7.31631 41.3347 7.31617 41.3862 7.25195L41.7719 6.83008C41.8236 6.76526 41.8236 6.68998 41.7719 6.63867C41.2829 6.14995 40.7291 5.93067 40.0337 5.93066ZM35.6948 5.92578C34.7032 5.92311 33.9917 6.4715 33.9917 7.25195C33.9919 7.84047 34.4292 8.32606 35.1626 8.53125L35.9341 8.75C36.423 8.8904 36.6156 9.05811 36.6157 9.33887C36.6157 9.65754 36.3057 9.86035 35.7895 9.86035C35.2246 9.86022 34.7876 9.61408 34.4399 9.1416C34.3883 9.0769 34.2982 9.06332 34.2466 9.12793L34.2495 9.13086L33.8364 9.57715C33.7851 9.62842 33.785 9.70368 33.8364 9.75488C34.377 10.3948 34.9666 10.6786 35.7407 10.6787C36.7704 10.6814 37.4829 10.1436 37.4829 9.33887C37.4828 8.66112 37.1235 8.25113 36.3764 8.0459L35.5532 7.81348C35.0401 7.67311 34.8336 7.49462 34.8335 7.23828C34.8335 6.91961 35.1707 6.70312 35.6977 6.70312C36.0834 6.70586 36.4036 6.87377 36.6997 7.19238C36.7513 7.26791 36.8414 7.26779 36.893 7.19238L37.2925 6.78418C37.3439 6.71945 37.3439 6.64406 37.2925 6.59277C36.9067 6.15798 36.3523 5.92578 35.6948 5.92578Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_573_8059">
        <rect width="79" height="52" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <Image src={SG60} class="sg60-logo" alt="SG60" />
  <button class="button btn-secondary menu-button">
    <p>Menu</p>
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M21 5H3"
        stroke="#222222"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M21 12H3"
        stroke="#222222"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M21 19H3"
        stroke="#222222"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </button>
</header>

<style>
  .main-header {
    display: flex;
    align-items: center;
    padding: 1.5rem 2.5rem;
  }

  .sg60-logo {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin-left: 1.5rem;
  }
  .menu-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
</style>
