---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title="SGN Microsite" description="Welcome to the SGN Microsite"/>
</head>
<body>
	<Header />
	<main>
		<slot />
	</main>
	<footer>
		<p>&copy; 2025 SGN. All rights reserved.</p>
	</footer>
</body>
</html>